* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.search input {
  width: 600px;
  height: 50px;
  border-radius: 5px;
  padding: 18px;
  font-size: 18px;
  border: 1px solid black;
  box-shadow: 6px 6px 5px black;
}

.card {
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 8px 5px 5px black;
  padding: 20px;
}

.card img {
  width: 250px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.card h1 {
  text-align: center;
  margin-bottom: 10px;
}

.card .card-text {
  font-size: 18px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.card .card-text span {
  border: 1px solid black;
  color: #fff;
  padding: 2px 8px;
  border-radius: 6px;
  background-color: rgb(163, 62, 161);
}

.card p {
  margin-top: 10px;
}
